.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  /* max-width: 40ch; */
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.experiencia a {
  text-decoration: none;
  color: #ff8e00;
}

.empresa1 {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  border-radius: 4px;
  gap: 15px 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

.empresa1::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background-color: #ff8e00;
  position: absolute;
  top: 18px;
  left: -3px;
}

.empresa {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  gap: 15px 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background-color: #ff8e00;
  position: absolute;
  top: 18px;
  left: -3px;
}

.empresa-ano {
  position: absolute;
  text-align: right;
  width: 50px;
  top: 22px;
  left: -75px;
  color: #525252;
  font-size: 0.825rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.3;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.3;
  border-radius: 4px;
  background-color: #fff;
  color: #525252;
  padding: 6px 10px;
}

.meformei {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  color: #bdbdbd;
}


@media (max-width: 900px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: #525252;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    text-align: left;
    width: initial;
    order: 1;
    color: #858585;
    font-size: 0.825rem;
    font-weight: bold;
  }

  .formacao-extra h3::before {
    position: initial !important;
    margin-bottom: 8px;
  }
}

@media (max-width: 660px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
