.footer {
  background-color: #000;
}

.footer-container {
  line-height: 1.4;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #858585;
  padding: 90px 40px;
  gap: 100px;
}

.footer-nomepedro {
  display: inline-block;
  color: #444444;
  margin-top: 20px;
}

.contato {
  font-size: 1.5rem;
}

.contato a {
  text-decoration: none;
  color: inherit;
}

.contato li + li {
  margin-top: 10px;
  color: #ff8e00;
}

.contato li {
  color: #ff8e00;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: start;
  }
}
