.formacao {
  background-color: #141414;
  color: white;
  padding-bottom: 0px;
  padding-top: 50px;

}

.formacao a {
  text-decoration: none;
  color: #ff8e00;
}

.formacao a:hover {
  color: #e17d00;
}


.container-formacao .subtitulo {
  color: black;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  /* max-width: 60ch; */
  color: #a3a3a3;
}

.formacao-texto strong {
  color: white;
  font-weight: 100;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  background-color: black;
  border-radius: 4px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.faculdade-tipo {
  color: #a3a3a3;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.faculdade-curso {
  color: white;
  font-size: 1.125rem;
  line-height: 1.3;
  margin-bottom: 50px;
  flex: 1;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ff8e00 , #e17d00 );
  position: absolute;
  top: 47px;
  left: -3px;
}

.faculdade-instituicao {
  /* text-transform: uppercase; */
  font-size: 0.9rem;
  color:#a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font: .875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -2px;
}

.cursos h3::before {
  background: url("/img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("/img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
display: flex;
justify-content: space-between;
}

@media (max-width: 900px) {

.formacao-texto {
  font-size: 1.125rem;
}

.container-formacao {
  grid-template-columns: 1fr;
  gap: 40px;
}

.container-formacao .subtitulo {
color: #8f8f8f;
}
}

