body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #141414;
  /* margin-bottom: 1000px; */
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo {
  font-size: 9rem;
  text-transform: uppercase;
  line-height: 1;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 900px) {
  .subtitulo {
    font-size: 3rem;
    max-width: initial;
    text-transform: capitalize;
  }
}

