.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header a {
  text-decoration: none;
  line-height: 1.3;
  font-size: 1.125rem;
  color: #141414;
  padding: 10px 20px;
  display: block;
}

.header img {
  margin-left: 20px;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }

  .header a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }

}
