
.introducao {
  align-items: center;
}

.introducao p {
  margin-top: 20px;
}

.cordev {
  color: rgb(97, 97, 97);
}

.introducao h1 {
  font-size: 3.5rem;
  line-height: 1.125;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 30px;
  height: 9px;
  background-color:#ff8e00;
  z-index: -1;
  position: absolute;
  top: -25px;
  
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 900px) {

  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .introducao h1 {
    font-size: 2.6rem;
  }

  .introducao p {
    font-size: 1rem;
  }

  .introducao h1::before {
    content: "";
    display: block;
    width: 22px;
    height: 6px;
    background-color:#ff8e00;
    z-index: -1;
    position: absolute;
    top: -16px;
    left: 0px;
  }
}

@media (max-width: 660px) {

.introducao img {
  display: none;
}

.introducao {
  grid-template-columns: 1fr;
  justify-items: center;
}

}

